@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model DataDto
@{
    Layout = null;
    var serializerSettings = new JsonSerializerSettings
    {
        // 设置为驼峰命名
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
    var js = Model.SystemInfo.ExteriorJs;
    Model.SystemInfo.ExteriorJs = "";
    var dataStr = JsonConvert.SerializeObject(Model, Formatting.None, serializerSettings);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="@Model.SystemInfo.KeyWords" /><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手机网站 - 格莱软件</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link href="/layui/css/layui.css" rel="stylesheet" />
    <link href="/css/cooper.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("_Cooper")
    @Html.Partial("_Head")
    <!-- 主体内容 start -->
    <section class="mobile-web">
        <!-- banner广告 start -->
        <section class="p-banner">
            <div class="banner-con">
                <h3 class="banner-tit">手机网站 - 把您的网站，装在客户的兜兜里</h3>
                <p class="banner-desc">方便操作，便捷管理，极致触屏体验、让客户随时随地联系你</p>
                <div class="banner-btn">
                    <a href="" target="_blank">在线咨询</a>
                </div>
            </div>
        </section>
        <!-- banner广告 end -->
        <section class="items">
            <ul class="block-1 public-center list">
                <li class="item">
                    <img src="/images/mobile/web/shouji-show-1-1.png" alt="img">
                    <p>搜索优化，抢占移动端排名</p>
                </li>
                <li class="item">
                    <img src="/images/mobile/web/shouji-show-1-2.png" alt="img">
                    <p>搜索优化，抢占移动端排名</p>
                </li>
                <li class="item">
                    <img src="/images/mobile/web/shouji-show-1-3.png" alt="img">
                    <p>搜索优化，抢占移动端排名</p>
                </li>
                <li class="item">
                    <img src="/images/mobile/web/shouji-show-1-4.png" alt="img">
                    <p>搜索优化，抢占移动端排名</p>
                </li>
                <li class="item">
                    <img src="/images/mobile/web/shouji-show-1-5.png" alt="img">
                    <p>搜索优化，抢占移动端排名</p>
                </li>
            </ul>
        </section>
        <section class="items">
            <h3 class="items-title">提供专属手机客户端与客户零距离接触</h3>
            <ul class="block-2 public-center list">
                <li class="item">
                    <img class="item-img" src="/images/mobile/web/shouji-show-2-1.png" alt="img">
                    <div class="item-tit">搜索优化，抢占移动端排名</div>
                    <p class="item-p">Zmobile可以在用户手机桌面生成企业图标</p>
                    <p class="item-p">一点就能进入到企业客户端</p>
                </li>
                <li class="item">
                    <img class="item-img" src="/images/mobile/web/shouji-show-2-2.png" alt="img">
                    <div class="item-tit">定制化欢迎页 强化企业品牌</div>
                    <p class="item-p">Zmobile为您提供量身定制的展示欢迎页</p>
                    <p class="item-p">大图展示提升品牌形象</p>
                </li>
                <li class="item">
                    <img class="item-img" src="/images/mobile/web/shouji-show-2-3.png" alt="img">
                    <div class="item-tit">地图定位 引导客户入店</div>
                    <p class="item-p">地图模块可调用GPS功能进行线路规划</p>
                    <p class="item-p">快速找到您的企业位置</p>
                </li>
            </ul>
        </section>
        <section class="items">
            <ul class="block-3 public-center list">
                <li class="item">
                    <div class="img-box">
                        <img src="/images/mobile/web/shouji-show-3-1.png">
                        <img src="/images/mobile/web/shouji-show-3-1-hover.png">
                    </div>
                    <p>二维码后台下载</p>
                </li>
                <li class="item">
                    <div class="img-box">
                        <img src="/images/mobile/web/shouji-show-3-2.png">
                        <img src="/images/mobile/web/shouji-show-3-2-hover.png">
                    </div>
                    <p>短信后台发布</p>
                </li>
                <li class="item">
                    <div class="img-box">
                        <img src="/images/mobile/web/shouji-show-3-3.png">
                        <img src="/images/mobile/web/shouji-show-3-3-hover.png">
                    </div>
                    <p>一键留言</p>
                </li>
                <li class="item">
                    <div class="img-box">
                        <img src="/images/mobile/web/shouji-show-3-4.png">
                        <img src="/images/mobile/web/shouji-show-3-4-hover.png">
                    </div>
                    <p>一键询价</p>
                </li>
                <li class="item">
                    <div class="img-box">
                        <img src="/images/mobile/web/shouji-show-3-5.png">
                        <img src="/images/mobile/web/shouji-show-3-5-hover.png">
                    </div>
                    <p>一键分享</p>
                </li>
                <li class="item">
                    <div class="img-box">
                        <img src="/images/mobile/web/shouji-show-3-6.png">
                        <img src="/images/mobile/web/shouji-show-3-6-hover.png">
                    </div>
                    <p>一键地图</p>
                </li>
                <li class="item">
                    <div class="img-box">
                        <img src="/images/mobile/web/shouji-show-3-7.png">
                        <img src="/images/mobile/web/shouji-show-3-7-hover.png">
                    </div>
                    <p>一键拨打</p>
                </li>
            </ul>
        </section>
        <section class="items bgimg">
            <h3 class="items-title">成功案例</h3>
            <ul class="block-4 public-center list">
                <li class="item">
                    <a href="">
                        <img src="/images/mobile/web/case-1.jpg" alt="img">
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <img src="/images/mobile/web/case-2.jpg" alt="img">
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <img src="/images/mobile/web/case-3.jpg" alt="img">
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <img src="/images/mobile/web/case-4.jpg" alt="img">
                    </a>
                </li>
            </ul>
        </section>
        <section class="items">
            <ul class="block-5 public-center list">
                <li class="item">
                    <img class="item-img" src="http://s.300.cn/v2.0/home/images/special/shouji/shouji-show-4-1.png" alt="img">
                    <div class="item-tit">安全</div>
                    <p class="item-p">病毒杀除率高于99%</p>
                </li>
                <li class="item">
                    <img class="item-img" src="http://s.300.cn/v2.0/home/images/special/shouji/shouji-show-4-1.png" alt="img">
                    <div class="item-tit">稳定</div>
                    <p class="item-p">网站可用性高于99.9%%</p>
                </li>
                <li class="item">
                    <img class="item-img" src="http://s.300.cn/v2.0/home/images/special/shouji/shouji-show-4-1.png" alt="img">
                    <div class="item-tit">极速</div>
                    <p class="item-p">5倍赔付中断服务的时间</p>
                </li>
                <li class="item">
                    <img class="item-img" src="http://s.300.cn/v2.0/home/images/special/shouji/shouji-show-4-1.png" alt="img">
                    <div class="item-tit">周到</div>
                    <p class="item-p">覆盖70多个城市，近80家服务网络</p>
                </li>
                <li class="item">
                    <img class="item-img" src="http://s.300.cn/v2.0/home/images/special/shouji/shouji-show-4-1.png" alt="img">
                    <div class="item-tit">贴心</div>
                    <p class="item-p">全国7x24小时客服热线</p>
                </li>
            </ul>
        </section>
    </section>
    <!-- 主体内容 end -->
    <!-- 公共 - 更多服务 start -->
    <!-- 公共 - 更多服务 end -->
    @Html.Partial("_Help")
    <!-- 公共底部 start -->
    @Html.Partial("_Bottom")
    <!-- 公共底部 end -->@Html.Raw(js);

    <script src="/assets/jquery1.11.2.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/public.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.18-beta.0/vue.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script>
        var dataDto = JSON.parse('@Html.Raw(dataStr)');
        //当前选择导航页设置
        $('.nav-list .nav-item').each(function (i, v) {
            if ($(v).data("index") === dataDto.index) {
                $(v).addClass("cur");
            }
        })
        //修改图片尺寸
        $("#logo").css("width", "150px");   //修改尺寸
        $("#weChatQR").css("width", "130px");   //修改二维码尺寸
    layui.use(['form','jquery','layer'], function () {
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;

        $("#cooper").on("click", function(data) {
            $("#app").css("display", "block");
            $("#app").css("animation", "cooperation-animation 1.2s");
        });

        //合作意向表单渲染
        var app = new Vue({
            el: '#app',
            data: {
                titles: dataDto.cooperData
            },
            mounted: function () {
                form.render();
            }
        });

        form.on("submit(commit)", function (data) {
            var details = $(":checked");
            var detail = "";
            for (var i = 0; i < details.length; i++) {
                detail += details[i].value + " | ";
            }
            data.field.detail = detail;
            console.log(data);
            $.post('@Url.Action("AddCooper","Cooper")', data.field, function(data,status) {
                if (data.data == 1) {
                    layer.msg("提交成功！请等待我们联系您！");
                    $('#app').css('display', 'none');
                } else {
                    layer.msg("提交失败！");
                }
            });

            return false;
        });
    });
    </script>
</body>

</html>