<!-- 公共底部 start -->
<section class="public-footer">
    <div class="ft-wrap public-center">
        <div class="ft-left">
            <div class="links">
                <!--<a href="">联系我们</a> &nbsp;|&nbsp;-->
                <a href="@Url.Action("Index","NetWork")">全国网点</a> &nbsp;|&nbsp;
                <a href='@Url.Action("Index","About")'>关于我们</a>
            </div>
            <div class="copyringht">
                <p id="copyright">@Model.SystemInfo.Copyright</p>
                <p id="record">@Model.SystemInfo.Record</p>
            </div>
        </div>
        <div class="ft-right">
            <div class="img-box">
                <img src="@Model.SystemInfo.WeChatQR" alt="img" id="weChatQR">
            </div>
            <!--<div class="img-box">
                <img src="/images/public/qr-2.png" alt="img">
            </div>-->
        </div>
    </div>
</section>
<!-- 公共底部 end -->

