@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model DataDto
@{
    Layout = null;
    var serializerSettings = new JsonSerializerSettings
    {
        // 设置为驼峰命名
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
    var js = Model.SystemInfo.ExteriorJs;
    Model.SystemInfo.ExteriorJs = "";
    var dataStr = JsonConvert.SerializeObject(Model, Formatting.None, serializerSettings);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="@Model.SystemInfo.KeyWords" /><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>建站报价 - 格莱软件</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/public.css">
    <!-- <link rel="stylesheet" href="css/offer.css"> -->
    <link href="/layui/css/layui.css" rel="stylesheet" />
    <link href="/css/cooper.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("_Cooper")
    @Html.Partial("_Head")
    <!-- 主体内容 start -->
    <section class="offer-main">
        <!-- banner start -->
        <section class="main-banner">
            <div class="img-box">
                <img src="/images/offer/offer-banner.png" alt="">
            </div>
            <div class="banner-text public-center">
                <p class="text-title">想建网站不知道价格？</p>
                <p class="text-p">中企免费报价让您不再吃亏！</p>
            </div>
        </section>
        <!-- banner end -->
        <!-- 免费报价 start -->
        <section class="main-body">
            <h3 class="body-title">中企动力为您提供免费报价</h3>
            <form class="form" onsubmit="return verification();" action="#" id="bottom_form">
                <dl class="form-dl public-center">
                    <dt class="form-dt">1 . 选择产品类型</dt>
                    <dd class="form-dd">
                        <ul class="type-group">
                            <li class="type-item cur">
                                <div class="img-box">
                                    <img src="/images/public/items-website-1.png">
                                    <img class="img-cur" src="/images/public/items-website-1-cur.png">
                                </div>
                                <p class="item-title">经典型网站</p>
                                <p class="item-p">品牌展示</p>
                                <p class="item-p">提升公司和产品形象</p>
                                <p class="item-p">个性化定制视觉设计</p>
                                <p class="item-p">HTML5酷炫效果</p>
                                <p class="item-p">与访问者无缝沟通</p>
                                <p class="item-p">PC、手机多端覆盖</p>
                            </li>
                            <li class="type-item">
                                <div class="img-box">
                                    <img src="/images/public/items-website-2.png">
                                    <img class="img-cur" src="/images/public/items-website-2-cur.png">
                                </div>
                                <p class="item-title">营销型网站</p>
                                <p class="item-p">营销推广</p>
                                <p class="item-p">渠道拓展、迅速覆盖全国</p>
                                <p class="item-p">多种高性价比营销推广功能</p>
                                <p class="item-p">可视化管理后</p>
                                <p class="item-p">可跟踪推广效果</p>
                            </li>
                            <li class="type-item">
                                <div class="img-box">
                                    <img src="/images/public/items-website-4.png">
                                    <img class="img-cur" src="/images/public/items-website-4-cur.png">
                                </div>
                                <p class="item-title">电商型网站</p>
                                <p class="item-p">您自己的电商平台</p>
                                <p class="item-p">打通线上线下流程</p>
                                <p class="item-p">支持兑换券和礼品</p>
                                <p class="item-p">会员精细化运营</p>
                            </li>
                            <li class="type-item">
                                <div class="img-box">
                                    <img src="/images/public/items-website-5.png">
                                    <img class="img-cur" src="/images/public/items-website-5-cur.png">
                                </div>
                                <p class="item-title">外贸型网站</p>
                                <p class="item-p">多语种，一语一设计</p>
                                <p class="item-p">境外CDN加速</p>
                                <p class="item-p">Google友好、推广</p>
                                <p class="item-p">国际社交平台分享</p>
                                <p class="item-p">在线商机收集功能</p>
                            </li>
                        </ul>
                    </dd>
                    <dt class="form-dt">2 . 选择功能</dt>
                    <dd class="form-dd">
                        <ul class="fn-group">
                            <li class="fn-item">
                                <p class="item-title">核心功能</p>
                                <p class="item-p">运营监控系统</p>
                                <p class="item-p">商机管理</p>
                                <p class="item-p">后台可视化管理</p>
                                <p class="item-p">智能网站宣传系统</p>
                                <p class="item-p">搜索优化设置</p>
                                <p class="item-p">流量统计分析</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">基础功能</p>
                                <p class="item-p">内容管理</p>
                                <p class="item-p">商品管理</p>
                                <p class="item-p">资讯管理</p>
                                <p class="item-p">留言管理</p>
                                <p class="item-p">图片管理</p>
                                <p class="item-p">海外访问加速</p>
                                <p class="item-p">短信邮件业务提醒</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">销售功能</p>
                                <p class="item-p">广告管理</p>
                                <p class="item-p">询价管理</p>
                                <p class="item-p">订购管理</p>
                                <p class="item-p">在线支付中心</p>
                                <p class="item-p">文件下载系统</p>
                                <p class="item-p">企业邮箱</p>
                                <p class="item-p">可信网站验证</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">互动功能</p>
                                <p class="item-p">招聘管理</p>
                                <p class="item-p">智能地图系统</p>
                                <p class="item-p">友情链接</p>
                                <p class="item-p">网上调查</p>
                                <p class="item-p">在线客服系统</p>
                                <p class="item-p">会员管理系统</p>
                                <p class="item-p">二维码营销</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">400电话</p>
                                <p class="item-p">普通号码</p>
                                <p class="item-p">星级号码</p>
                                <p class="item-p">特价靓号</p>
                                <p class="item-p">靓号</p>
                                <p class="item-p">IVR功能</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">视觉设计</p>
                                <p class="item-p">形象首页(官网+客户端)</p>
                                <p class="item-p">内页风格</p>
                                <p class="item-p">内容页面</p>
                                <p class="item-p">广告图片(官网+客户端)</p>
                                <p class="item-p">Flash动画</p>
                                <p class="item-p">视频演示</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">其他服务</p>
                                <p class="item-p">标准录入(官网+客户端)</p>
                                <p class="item-p">排版录入(官网+客户端)</p>
                                <p class="item-p">短信（中文）</p>
                                <p class="item-p">站点卫士</p>
                                <p class="item-p">翻译</p>
                            </li>
                        </ul>
                        <ul class="fn-group" style="display: none">
                            <li class="fn-item">
                                <p class="item-title">核心功能</p>
                                <p class="item-p">运营监控系统</p>
                                <p class="item-p">商机管理</p>
                                <p class="item-p">后台可视化管理</p>
                                <p class="item-p">智能网站宣传系统</p>
                                <p class="item-p">搜索优化设置</p>
                                <p class="item-p">流量统计分析</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">销售功能</p>
                                <p class="item-p">广告管理</p>
                                <p class="item-p">询价管理</p>
                                <p class="item-p">订购管理</p>
                                <p class="item-p">在线支付中心</p>
                                <p class="item-p">文件下载系统</p>
                                <p class="item-p">企业邮箱</p>
                                <p class="item-p">可信网站验证</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">互动功能</p>
                                <p class="item-p">招聘管理</p>
                                <p class="item-p">智能地图系统</p>
                                <p class="item-p">友情链接</p>
                                <p class="item-p">网上调查</p>
                                <p class="item-p">在线客服系统</p>
                                <p class="item-p">会员管理系统</p>
                                <p class="item-p">二维码营销</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">400电话</p>
                                <p class="item-p">普通号码</p>
                                <p class="item-p">星级号码</p>
                                <p class="item-p">特价靓号</p>
                                <p class="item-p">靓号</p>
                                <p class="item-p">IVR功能</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">视觉设计</p>
                                <p class="item-p">形象首页(官网+客户端)</p>
                                <p class="item-p">内页风格</p>
                                <p class="item-p">内容页面</p>
                                <p class="item-p">广告图片(官网+客户端)</p>
                                <p class="item-p">Flash动画</p>
                                <p class="item-p">视频演示</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">其他服务</p>
                                <p class="item-p">标准录入(官网+客户端)</p>
                                <p class="item-p">排版录入(官网+客户端)</p>
                                <p class="item-p">短信（中文）</p>
                                <p class="item-p">站点卫士</p>
                                <p class="item-p">翻译</p>
                            </li>
                        </ul>
                        <ul class="fn-group" style="display: none">
                            <li class="fn-item">
                                <p class="item-title">核心功能</p>
                                <p class="item-p">运营监控系统</p>
                                <p class="item-p">商机管理</p>
                                <p class="item-p">后台可视化管理</p>
                                <p class="item-p">智能网站宣传系统</p>
                                <p class="item-p">搜索优化设置</p>
                                <p class="item-p">流量统计分析</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">基础功能</p>
                                <p class="item-p">内容管理</p>
                                <p class="item-p">商品管理</p>
                                <p class="item-p">资讯管理</p>
                                <p class="item-p">留言管理</p>
                                <p class="item-p">图片管理</p>
                                <p class="item-p">海外访问加速</p>
                                <p class="item-p">短信邮件业务提醒</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">销售功能</p>
                                <p class="item-p">广告管理</p>
                                <p class="item-p">询价管理</p>
                                <p class="item-p">订购管理</p>
                                <p class="item-p">在线支付中心</p>
                                <p class="item-p">文件下载系统</p>
                                <p class="item-p">企业邮箱</p>
                                <p class="item-p">可信网站验证</p>
                            </li>
                        </ul>
                        <ul class="fn-group" style="display: none">
                            <li class="fn-item">
                                <p class="item-title">核心功能</p>
                                <p class="item-p">运营监控系统</p>
                                <p class="item-p">商机管理</p>
                                <p class="item-p">后台可视化管理</p>
                                <p class="item-p">智能网站宣传系统</p>
                                <p class="item-p">搜索优化设置</p>
                                <p class="item-p">流量统计分析</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">基础功能</p>
                                <p class="item-p">内容管理</p>
                                <p class="item-p">商品管理</p>
                                <p class="item-p">资讯管理</p>
                                <p class="item-p">留言管理</p>
                                <p class="item-p">图片管理</p>
                                <p class="item-p">海外访问加速</p>
                                <p class="item-p">短信邮件业务提醒</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">销售功能</p>
                                <p class="item-p">广告管理</p>
                                <p class="item-p">询价管理</p>
                                <p class="item-p">订购管理</p>
                                <p class="item-p">在线支付中心</p>
                                <p class="item-p">文件下载系统</p>
                                <p class="item-p">企业邮箱</p>
                                <p class="item-p">可信网站验证</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">互动功能</p>
                                <p class="item-p">招聘管理</p>
                                <p class="item-p">智能地图系统</p>
                                <p class="item-p">友情链接</p>
                                <p class="item-p">网上调查</p>
                                <p class="item-p">在线客服系统</p>
                                <p class="item-p">会员管理系统</p>
                                <p class="item-p">二维码营销</p>
                            </li>
                            <li class="fn-item">
                                <p class="item-title">400电话</p>
                                <p class="item-p">普通号码</p>
                                <p class="item-p">星级号码</p>
                                <p class="item-p">特价靓号</p>
                                <p class="item-p">靓号</p>
                                <p class="item-p">IVR功能</p>
                            </li>
                        </ul>
                    </dd>
                    <dt class="form-dt">3 . 填写信息</dt>
                    <dd class="form-dd">
                        <ul class="inp-group">
                            <li class="inp-item">
                                <label>公司</label>
                                <input type="text" name="contactCompany" value="" />
                            </li>
                            <li class="inp-item">
                                <label>姓名</label>
                                <input type="text" name="truename" value="" />
                            </li>
                            <li class="inp-item">
                                <label>手机号</label>
                                <input type="text" value="" name="mobile" />
                            </li>
                            <li class="inp-item">
                                <label>验证码</label>
                                <input type="text" id="verify" name="verify" class="verify-inp">
                                @*<a class="verify-link" href="javascript:void(0);">
            <img src="/images/public/yzm_null.jpg">
        </a>*@
                                <div id="v_container" style="display: inline-flex; width: 97px; height: 35px; position: relative; top: 16px;"></div>
                            </li>
                            
                        </ul>
                    </dd>
                </dl>
                <div class="form-bottom">
                    <button type="submit">给我报价</button>
                </div>
            </form>
        </section>
        <!-- 免费报价 end -->
    </section>
    @Html.Partial("_Help")
    <!-- 主体内容 end -->
    <!-- 公共底部 start -->
    @Html.Partial("_Bottom")
    <!-- 公共底部 end -->@Html.Raw(js);

    <script src="assets/jquery1.11.2.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="js/public.js"></script>
    <script src="/js/gVerify.js"></script>
    <script>
        $('.type-group .type-item').click(function() {
            var index = $(this).index();
            $(this).addClass('cur').siblings('.type-item').removeClass('cur');
            $('.fn-group').eq(index).fadeIn('fast').siblings().hide();
            $('.fn-group .fn-item').removeClass('cur');
        });
        $('.fn-group .fn-item').click(function() {
            $(this).toggleClass('cur');
        });

        //验证码
        var verifyCode = new GVerify({
            id: "v_container",
            type: "number"
        });

        //表单验证
        function verification() {
            var verify = $("[name='verify']").val();
            var mobile = $("[name='mobile']").val();
            var details = $(".cur");
            var detail = "";
            for (var i = 0; i < details.length; i++) {
                detail += details[i].innerText + "|";
            };
            detail = detail.replace(/[\r\n]/g, "|");
            console.log("---下面是类查询---");
            console.log(detail);
            var company = $("[name='contactCompany']").val();
            var truename = $("[name='truename']").val();
            if (verifyCode.validate(verify)
                && !$.isEmptyObject(mobile)
                && mobile.length == 11
                && !$.isEmptyObject(detail)
                && !$.isEmptyObject(company)
                && !$.isEmptyObject(truename)) {
                $.post('@Url.Action("AddCooper","Cooper")',
                    {
                        linkMan: truename,
                        company: company,
                        contact: mobile,
                        detail: detail
                    }, function(data,status) {
                        if (data.data == 1) {
                            window.alert("提交成功！请等待我们联系您！");
                            $("#bottom_form")[0].reset();
                        } else {
                            window.alert("提交失败！");
                        }
                    });
            } else {
                window.alert("验证码或表单信息错误");
            };
            return false;
        }
    </script>
    <script src="https://cdn.bootcss.com/vue/2.5.18-beta.0/vue.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script>
        var dataDto = JSON.parse('@Html.Raw(dataStr)');
        //当前选择导航页设置
        $('.nav-list .nav-item').each(function (i, v) {
            if ($(v).data("index") === dataDto.index) {
                $(v).addClass("cur");
            }
        })
        //修改图片尺寸
        $("#logo").css("width", "150px");   //修改尺寸
        $("#weChatQR").css("width", "130px");   //修改二维码尺寸
    layui.use(['form','jquery','layer'], function () {
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;

        $("#cooper").on("click", function(data) {
            $("#app").css("display", "block");
            $("#app").css("animation", "cooperation-animation 1.2s");
        });

        //合作意向表单渲染
        var app = new Vue({
            el: '#app',
            data: {
                titles: dataDto.cooperData
            },
            mounted: function () {
                form.render();
            }
        });

        form.on("submit(commit)", function (data) {
            var details = $(":checked");
            var detail = "";
            for (var i = 0; i < details.length; i++) {
                detail += details[i].value + " | ";
            }
            data.field.detail = detail;
            console.log(data);
            $.post('@Url.Action("AddCooper","Cooper")', data.field, function(data,status) {
                if (data.data == 1) {
                    layer.msg("提交成功！请等待我们联系您！");
                    $('#app').css('display', 'none');
                } else {
                    layer.msg("提交失败！");
                }
            });

            return false;
        });
    });
    </script>
</body>

</html>